List of requirements
* The insertion of receipts must be possible 
* Receipts must contain the invoice number and the value of goods as well as the customer name.
* Which employees work in the company
* For an employee only the first name and surname are relevant.
* Receipts must be assigned to employees.
* It should be possible to assign receipts to one time of day during business hours.
* An overview of the times is necessary.
* It should also be possible to release times again. 
* A Receiptoverview is necessary.
* Times should be blocked as soon as the maximum volume is reached.
* Receipts should be removed from individual times.

NE step 1:

* The insertion of receipts must be possible 
* Receipts must contain the invoice number and the value of goods as well as the customer name.
* Which employees work in the company.
* For an employee only the first name and surname are relevant.
* Receipts must be assigned to employees.
* It should be possible to assign receipts to one time of day during business hours. -----------------------> Receiptassignment to times should be possible.  
* An overview of the times is necessary. --------------> Timeoverview is necessary. 
* It should also be possible to release times again.  ---------------> Time realese should possible.
* A Receiptoverview is necessary. 
* Times should be blocked as soon as the maximum volume is reached. -------------> Time limitation is necessary.
* Receipts should be removed from individual times. -------------> Receipt cancellation is necessary.

NE step 2: markup = // word \\

* The //insertion of receipts\\ must be possible 
* //Receipts\\ must contain the //invoice number\\ and the //value of goods\\ as well as the //customer name\\ .
* Which //employees\\  work in the company.
* For an //employee\\  only the //first name\\ and //surname\\ are relevant.
* //Receipts\\ must be assigned to //employees\\.
* //Receiptassignment\\ to times should be possible.
* A //Receiptoverview\\ is necessary. 
* //Time realese\\ should possible.
* //Time limitation\\ is necessary.
* //Receipt cancellation\\ is necessary. 


NE step 3:

* The //insertion of receipts\\ must be possible 
* //Receipts\\ must contain the //invoice number\\ and the //value of goods\\ as well as the //customer name\\ .
* Which //employees\\  work in the company.
* For an //employee\\  only the //first name\\ and //surname\\ are relevant.
* //Receipts\\ must be assigned to //employees\\.
* //Receiptassignment\\ to times should be possible.
* A //Receiptoverview\\ is necessary. 
* //Time realese\\ should possible.
* //Time limitation\\ is necessary.
* //Receipt cancellation\\ is necessary.  














